.App {
  margin: 3.5rem auto 0;
  height: 100vh;
  text-align: center;
  width: min(90%, 600px);
}

//Utility Classes

.d-flex{
  display: flex;
}

.jc{
  justify-content: center;
}

.ai-c{
  align-items: center;
}

.completed{
  text-decoration: line-through;
  opacity: 0.5;
}

.success{
  background-color: green;
  color: white;
}

h1{
  font-size: 3.5rem;
  color: white;
  width: 100%;
  margin: 0 auto 2rem;
  padding-block: 0.5rem
}

form{
  margin: 0 auto;
  width: 100%;
  
  .todo-input,
  .filter-todo,
  .todo-button {
    border: none;
    border-radius: 100vw;
  }
  
  .todo-input {
    width: 100%;
    padding: 0.75rem;
    font-size: 1.25rem;
  }
  
  .todo-button {
    width: 110px;
    aspect-ratio: 1;
    font-size: 1.5rem;
    color: orange;
    margin-inline: 1rem;
  }
  
  .select {
    width: 100%;
    
    .filter-todo {
      padding: 0.75rem;
      font-size: 1rem;
      width: 100%;
    }
  }
}

.todo-container{
  margin: 1rem auto 0;
}

.todo-list{
  list-style: none;
  padding: 1rem;
}

.todo{
  margin-block: 1rem;
  // padding: 3rem;
  
  li{
    background-color: white;
    color: #0C303E;
    width: 100%;
    padding: 0.75rem;
    text-align: left;
    font-size: 1.25rem;
    border-radius: 100vw;
  }
  
  .complete-btn,
  .trash-btn{
    width: 57px;
    aspect-ratio: 1;
    border: none;
    border-radius: 100%;
    background-color: white;
  }
  
  .complete-btn{
    margin-inline: 0.5rem;
    color: green;
    
    &.success {
      background-color: rgb(62, 157, 62);
      color: white;
    }
  }
  
  .trash-btn{
    color: red;
  }
}

@media screen and (max-width: 650px) {
  
  h1{
    font-size: 2.5rem;
  }
  
  form {
    display: grid !important;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: 
    "input input input"
    "addtask filter filter";
    gap: 1rem;
    width: 100%;
    
    .todo-input {
      grid-area: input;
      width: 100%;
    }
    
    .todo-button {
      grid-area: addtask;
      margin: 0;
      width: 200px;
      height: 44px;
    }
    
    .select {
      grid-area: filter;
      width: 100%;
      
      .filter-todo {
        width: 100%;
      }
    }
  }
  
  .todo-list{
    padding-inline: 0;
  }
}

